{% extends "homeLayout.html"%}
{% block content %}
<div id="main-content" class="container">
<label>
</h1>BREAKFIRST</h1><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1899</th>
      <td>54304100</td>
      <td>Reduced fat cheese cracker</td>
      <td>1</td>
      <td>0.25</td>
      <td>cup</td>
      <td>6.15924</td>
      <td>0.1380</td>
      <td>0.11313</td>
      <td>49.68000</td>
    </tr>
    <tr>
      <th>803</th>
      <td>75101000</td>
      <td>Raw bean sprouts</td>
      <td>1</td>
      <td>0.50</td>
      <td>cup</td>
      <td>0.00000</td>
      <td>0.0260</td>
      <td>0.00000</td>
      <td>15.60000</td>
    </tr>
    <tr>
      <th>735</th>
      <td>71508020</td>
      <td>Stuffed baked potato (with cheese)</td>
      <td>1</td>
      <td>0.50</td>
      <td>potato (frozen)</td>
      <td>65.55780</td>
      <td>3.3740</td>
      <td>0.00000</td>
      <td>194.60000</td>
    </tr>
    <tr>
      <th>1753</th>
      <td>52306010</td>
      <td>Plain muffin</td>
      <td>2</td>
      <td>1.00</td>
      <td>miniature (1 1/4” across)</td>
      <td>16.87086</td>
      <td>0.5016</td>
      <td>3.49282</td>
      <td>57.95000</td>
    </tr>
    <tr>
      <th>988</th>
      <td>63115010</td>
      <td>Sweet cherries (raw)</td>
      <td>1</td>
      <td>0.50</td>
      <td>cup cherries with pits</td>
      <td>0.00000</td>
      <td>0.0234</td>
      <td>0.00000</td>
      <td>36.85500</td>
    </tr>
    <tr>
      <th>916</th>
      <td>58148500</td>
      <td>Pasta salad with vegetables</td>
      <td>1</td>
      <td>0.50</td>
      <td>cup</td>
      <td>0.00000</td>
      <td>0.7611</td>
      <td>4.43052</td>
      <td>116.82000</td>
    </tr>
    <tr>
      <th>1385</th>
      <td>26319130</td>
      <td>Steamed or boiled shrimp</td>
      <td>2</td>
      <td>1.00</td>
      <td>jumbo shrimp</td>
      <td>0.00000</td>
      <td>0.0430</td>
      <td>0.00000</td>
      <td>13.80003</td>
    </tr>
    <tr>
      <th>619</th>
      <td>74402350</td>
      <td>Green tomato-chile sauce</td>
      <td>2</td>
      <td>1.00</td>
      <td>Tablespoon</td>
      <td>6.45165</td>
      <td>0.2085</td>
      <td>0.00000</td>
      <td>11.10000</td>
    </tr>
    <tr>
      <th>765</th>
      <td>72201211</td>
      <td>Cooked broccoli</td>
      <td>1</td>
      <td>0.50</td>
      <td>cup flowerets</td>
      <td>0.00000</td>
      <td>0.0388</td>
      <td>0.00000</td>
      <td>16.97500</td>
    </tr>
  </tbody>
</table>
</label>
<label>
</h1>BREAKFIRST SNACK</h1><br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1969</th>
      <td>56200400</td>
      <td>Cooked barley</td>
      <td>1</td>
      <td>0.5</td>
      <td>cup</td>
      <td>0.0</td>
      <td>0.07290</td>
      <td>0.00000</td>
      <td>98.820</td>
    </tr>
    <tr>
      <th>477</th>
      <td>91402000</td>
      <td>Jam or preserves</td>
      <td>2</td>
      <td>1.0</td>
      <td>packet</td>
      <td>0.0</td>
      <td>0.00140</td>
      <td>29.64372</td>
      <td>36.400</td>
    </tr>
    <tr>
      <th>454</th>
      <td>91304040</td>
      <td>Marshmallow topping</td>
      <td>1</td>
      <td>1.0</td>
      <td>Tablespoon</td>
      <td>0.0</td>
      <td>0.00372</td>
      <td>11.23941</td>
      <td>19.964</td>
    </tr>
    <tr>
      <th>663</th>
      <td>75201011</td>
      <td>Artichoke</td>
      <td>2</td>
      <td>1.0</td>
      <td>heart</td>
      <td>0.0</td>
      <td>0.01080</td>
      <td>0.00000</td>
      <td>13.500</td>
    </tr>
    <tr>
      <th>551</th>
      <td>75506010</td>
      <td>Mustard</td>
      <td>1</td>
      <td>1.0</td>
      <td>teaspoon</td>
      <td>0.0</td>
      <td>0.00800</td>
      <td>0.00000</td>
      <td>3.300</td>
    </tr>
    <tr>
      <th>1513</th>
      <td>28340550</td>
      <td>Sweet &amp; sour soup</td>
      <td>1</td>
      <td>1.0</td>
      <td>cup</td>
      <td>0.0</td>
      <td>0.24400</td>
      <td>23.71654</td>
      <td>73.200</td>
    </tr>
  </tbody>
</table>
</label>
<label>
</h1>LUNCH</h1><br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1820</th>
      <td>53233040</td>
      <td>Reduced-fat oatmeal raisin cookie</td>
      <td>1</td>
      <td>1.0</td>
      <td>cookie</td>
      <td>0.00486</td>
      <td>0.07290</td>
      <td>10.77396</td>
      <td>51.57</td>
    </tr>
    <tr>
      <th>870</th>
      <td>64132020</td>
      <td>Prune juice (100% juice)</td>
      <td>1</td>
      <td>1.0</td>
      <td>cup</td>
      <td>0.00000</td>
      <td>0.00768</td>
      <td>0.00000</td>
      <td>181.76</td>
    </tr>
    <tr>
      <th>1068</th>
      <td>58110130</td>
      <td>Egg roll with meat</td>
      <td>2</td>
      <td>1.0</td>
      <td>miniature egg roll</td>
      <td>4.09734</td>
      <td>0.29250</td>
      <td>0.00000</td>
      <td>22.88</td>
    </tr>
  </tbody>
</table>
</label>
<label>
</h1>EVENING SNACK</h1><br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>766</th>
      <td>72201211</td>
      <td>Cooked broccoli</td>
      <td>2</td>
      <td>0.5</td>
      <td>cup chopped</td>
      <td>0.0000</td>
      <td>0.0736</td>
      <td>0.00000</td>
      <td>32.20</td>
    </tr>
    <tr>
      <th>1171</th>
      <td>22501010</td>
      <td>Canadian bacon</td>
      <td>2</td>
      <td>1.0</td>
      <td>ounce</td>
      <td>0.0000</td>
      <td>0.7952</td>
      <td>0.00000</td>
      <td>51.80</td>
    </tr>
    <tr>
      <th>795</th>
      <td>74101000</td>
      <td>Raw tomatoes</td>
      <td>2</td>
      <td>1.0</td>
      <td>medium slice (1/4" thick)</td>
      <td>0.0000</td>
      <td>0.0080</td>
      <td>0.00000</td>
      <td>3.60</td>
    </tr>
    <tr>
      <th>1890</th>
      <td>54101010</td>
      <td>Animal cracker</td>
      <td>2</td>
      <td>1.0</td>
      <td>cracker</td>
      <td>2.9646</td>
      <td>0.0865</td>
      <td>1.27106</td>
      <td>11.15</td>
    </tr>
  </tbody>
</table>
</label>
<label>
</h1>DINNER</h1><br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1868</th>
      <td>53521110</td>
      <td>Raised doughnut</td>
      <td>1</td>
      <td>1.00</td>
      <td>medium (3-3/4" across)</td>
      <td>119.79900</td>
      <td>3.48600</td>
      <td>52.77024</td>
      <td>241.800</td>
    </tr>
    <tr>
      <th>1522</th>
      <td>28500100</td>
      <td>Mushroom gravy</td>
      <td>1</td>
      <td>0.25</td>
      <td>cup</td>
      <td>1.46727</td>
      <td>0.11305</td>
      <td>0.62862</td>
      <td>16.065</td>
    </tr>
    <tr>
      <th>1403</th>
      <td>27120060</td>
      <td>Sweet &amp; sour pork</td>
      <td>1</td>
      <td>0.50</td>
      <td>cup</td>
      <td>2.18655</td>
      <td>1.06220</td>
      <td>15.88747</td>
      <td>115.260</td>
    </tr>
    <tr>
      <th>745</th>
      <td>71801010</td>
      <td>Cream of potato soup</td>
      <td>2</td>
      <td>1.00</td>
      <td>can, ready to eat (13 oz)</td>
      <td>30.91851</td>
      <td>2.01105</td>
      <td>0.00000</td>
      <td>101.475</td>
    </tr>
    <tr>
      <th>1898</th>
      <td>54304000</td>
      <td>Cheese cracker</td>
      <td>2</td>
      <td>1.00</td>
      <td>single serving bag</td>
      <td>62.23896</td>
      <td>2.62360</td>
      <td>0.00000</td>
      <td>140.840</td>
    </tr>
    <tr>
      <th>675</th>
      <td>75209012</td>
      <td>Cooked Brussels sprouts</td>
      <td>2</td>
      <td>1.00</td>
      <td>sprout</td>
      <td>0.00000</td>
      <td>0.01680</td>
      <td>0.00000</td>
      <td>8.820</td>
    </tr>
    <tr>
      <th>442</th>
      <td>91200000</td>
      <td>Calorie-free sweetener</td>
      <td>2</td>
      <td>1.00</td>
      <td>teaspoon</td>
      <td>0.00000</td>
      <td>0.00040</td>
      <td>0.00000</td>
      <td>7.040</td>
    </tr>
  </tbody>
</table>
</label>
{% endblock%}
