{% extends "homeLayout.html"%}
{% block content %}
<div id="main-content" class="container">
<label>
</h1>BREAKFIRST</h1><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>770</th>
      <td>72202020</td>
      <td>Broccoli-rice casserole</td>
      <td>1</td>
      <td>0.5</td>
      <td>cup</td>
      <td>55.98882</td>
      <td>2.85000</td>
      <td>0.00000</td>
      <td>143.640</td>
    </tr>
    <tr>
      <th>2011</th>
      <td>57303100</td>
      <td>Kix cereal</td>
      <td>2</td>
      <td>1.0</td>
      <td>single serving box</td>
      <td>0.00000</td>
      <td>0.09000</td>
      <td>7.30845</td>
      <td>67.860</td>
    </tr>
    <tr>
      <th>789</th>
      <td>73409000</td>
      <td>Mashed sweet potato</td>
      <td>1</td>
      <td>0.5</td>
      <td>cup</td>
      <td>25.49781</td>
      <td>0.72865</td>
      <td>0.00000</td>
      <td>107.445</td>
    </tr>
    <tr>
      <th>1277</th>
      <td>24207000</td>
      <td>Ground turkey</td>
      <td>2</td>
      <td>1.0</td>
      <td>large patty (3 per pound)</td>
      <td>30.44880</td>
      <td>2.68800</td>
      <td>0.00000</td>
      <td>186.400</td>
    </tr>
  </tbody>
</table>
</label>
<label>
</h1>BREAKFIRST SNACK</h1><br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>704</th>
      <td>71103010</td>
      <td>Boiled potatoes</td>
      <td>2</td>
      <td>8.0</td>
      <td>ounces raw</td>
      <td>0.00000</td>
      <td>0.0552</td>
      <td>0.0</td>
      <td>156.40</td>
    </tr>
    <tr>
      <th>74</th>
      <td>21401120</td>
      <td>Roast beef (eat lean only)</td>
      <td>1</td>
      <td>1.0</td>
      <td>medium slice</td>
      <td>6.37686</td>
      <td>1.3608</td>
      <td>0.0</td>
      <td>82.74</td>
    </tr>
  </tbody>
</table>
</label>
<label>
</h1>LUNCH</h1><br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1860</th>
      <td>53520110</td>
      <td>Cake doughnut</td>
      <td>2</td>
      <td>1.00</td>
      <td>small (2-1/2" across)</td>
      <td>49.94325</td>
      <td>0.90500</td>
      <td>20.60195</td>
      <td>105.250</td>
    </tr>
    <tr>
      <th>1588</th>
      <td>42106020</td>
      <td>Shredded sweetened coconut</td>
      <td>1</td>
      <td>0.25</td>
      <td>cup shredded</td>
      <td>0.00000</td>
      <td>6.62858</td>
      <td>36.32428</td>
      <td>110.205</td>
    </tr>
    <tr>
      <th>654</th>
      <td>75122100</td>
      <td>Raw sweet pepper (bell pepper)</td>
      <td>2</td>
      <td>1.00</td>
      <td>medium</td>
      <td>0.00000</td>
      <td>0.07140</td>
      <td>0.00000</td>
      <td>23.800</td>
    </tr>
  </tbody>
</table>
</label>
<label>
</h1>EVENING SNACK</h1><br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>895</th>
      <td>71205000</td>
      <td>Potato sticks</td>
      <td>1</td>
      <td>0.5</td>
      <td>cup</td>
      <td>0.00000</td>
      <td>1.68720</td>
      <td>0.00000</td>
      <td>99.180</td>
    </tr>
    <tr>
      <th>395</th>
      <td>92410210</td>
      <td>Club soda (seltzer)</td>
      <td>2</td>
      <td>1.0</td>
      <td>cup</td>
      <td>0.00000</td>
      <td>0.00000</td>
      <td>0.00000</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>272</th>
      <td>94000000</td>
      <td>Water</td>
      <td>2</td>
      <td>2.0</td>
      <td>fluid ounces</td>
      <td>0.00000</td>
      <td>0.00000</td>
      <td>0.00000</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>1795</th>
      <td>53207000</td>
      <td>Chocolate fudge cookie</td>
      <td>2</td>
      <td>1.0</td>
      <td>bite size</td>
      <td>2.71933</td>
      <td>0.09328</td>
      <td>2.41479</td>
      <td>9.526</td>
    </tr>
    <tr>
      <th>806</th>
      <td>63131010</td>
      <td>Nectarine (raw)</td>
      <td>2</td>
      <td>1.0</td>
      <td>slice</td>
      <td>0.00000</td>
      <td>0.00339</td>
      <td>0.00000</td>
      <td>4.972</td>
    </tr>
    <tr>
      <th>1890</th>
      <td>54101010</td>
      <td>Animal cracker</td>
      <td>2</td>
      <td>1.0</td>
      <td>cracker</td>
      <td>2.96460</td>
      <td>0.08650</td>
      <td>1.27106</td>
      <td>11.150</td>
    </tr>
  </tbody>
</table>
</label>
<label>
</h1>DINNER</h1><br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1889</th>
      <td>54101010</td>
      <td>Animal cracker</td>
      <td>2</td>
      <td>0.25</td>
      <td>cup</td>
      <td>18.97344</td>
      <td>0.5536</td>
      <td>8.13480</td>
      <td>71.36</td>
    </tr>
    <tr>
      <th>685</th>
      <td>75221011</td>
      <td>Cooked onions</td>
      <td>1</td>
      <td>0.50</td>
      <td>cup</td>
      <td>0.00000</td>
      <td>0.0315</td>
      <td>0.00000</td>
      <td>46.20</td>
    </tr>
    <tr>
      <th>437</th>
      <td>91101010</td>
      <td>White sugar (granulated or lump)</td>
      <td>2</td>
      <td>1.00</td>
      <td>individual packet</td>
      <td>0.00000</td>
      <td>0.0000</td>
      <td>23.22000</td>
      <td>23.22</td>
    </tr>
    <tr>
      <th>1982</th>
      <td>57104000</td>
      <td>Apple Jacks cereal</td>
      <td>1</td>
      <td>1.00</td>
      <td>cup</td>
      <td>3.06990</td>
      <td>0.1200</td>
      <td>55.17420</td>
      <td>117.00</td>
    </tr>
    <tr>
      <th>934</th>
      <td>61119010</td>
      <td>Orange (raw)</td>
      <td>2</td>
      <td>1.00</td>
      <td>large (3" across)</td>
      <td>0.00000</td>
      <td>0.0184</td>
      <td>0.00000</td>
      <td>86.48</td>
    </tr>
    <tr>
      <th>883</th>
      <td>71103010</td>
      <td>Boiled potatoes</td>
      <td>1</td>
      <td>1.00</td>
      <td>medium (2 per pound, raw)</td>
      <td>0.00000</td>
      <td>0.0501</td>
      <td>0.00000</td>
      <td>141.95</td>
    </tr>
    <tr>
      <th>651</th>
      <td>75122100</td>
      <td>Raw sweet pepper (bell pepper)</td>
      <td>1</td>
      <td>1.00</td>
      <td>slice or ring</td>
      <td>0.00000</td>
      <td>0.0060</td>
      <td>0.00000</td>
      <td>2.00</td>
    </tr>
    <tr>
      <th>570</th>
      <td>81101000</td>
      <td>Butter</td>
      <td>1</td>
      <td>1.00</td>
      <td>pat (1 teaspoon)</td>
      <td>35.85000</td>
      <td>2.5685</td>
      <td>0.00000</td>
      <td>35.85</td>
    </tr>
    <tr>
      <th>366</th>
      <td>91745020</td>
      <td>Hard candy</td>
      <td>2</td>
      <td>1.00</td>
      <td>lollipop</td>
      <td>0.00000</td>
      <td>0.0000</td>
      <td>51.16597</td>
      <td>82.74</td>
    </tr>
  </tbody>
</table>
</label>
{% endblock%}
