{% extends "layouts.html"%}
{% block content %}
<div id="main-content" class="container">
<label>
</h1>BREAKFIRST</h1><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>865</th>
      <td>64104010</td>
      <td>Apple juice (100% juice)</td>
      <td>2</td>
      <td>1.00</td>
      <td>bottle (10 fl oz)</td>
      <td>0.00000</td>
      <td>0.0620</td>
      <td>0.00000</td>
      <td>145.70</td>
    </tr>
    <tr>
      <th>656</th>
      <td>75125000</td>
      <td>Radish</td>
      <td>2</td>
      <td>0.25</td>
      <td>cup slices</td>
      <td>0.00000</td>
      <td>0.0087</td>
      <td>0.00000</td>
      <td>4.64</td>
    </tr>
    <tr>
      <th>522</th>
      <td>75414020</td>
      <td>Stuffed mushrooms (bread, meat &amp; cheese)</td>
      <td>1</td>
      <td>1.00</td>
      <td>stuffed cap</td>
      <td>29.59848</td>
      <td>0.9960</td>
      <td>1.45506</td>
      <td>67.44</td>
    </tr>
    <tr>
      <th>909</th>
      <td>58136120</td>
      <td>Lo mein (meatless)</td>
      <td>1</td>
      <td>1.00</td>
      <td>cup</td>
      <td>0.00000</td>
      <td>1.0000</td>
      <td>0.00000</td>
      <td>234.00</td>
    </tr>
    <tr>
      <th>1302</th>
      <td>25221910</td>
      <td>Vienna sausage</td>
      <td>1</td>
      <td>1.00</td>
      <td>sausage</td>
      <td>27.26352</td>
      <td>1.4848</td>
      <td>0.00000</td>
      <td>44.64</td>
    </tr>
  </tbody>
</table>
</label>
<label>
</h1>BREAKFIRST SNACK</h1><br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>410</th>
      <td>83106000</td>
      <td>Italian dressing (oil &amp; vinegar)</td>
      <td>2</td>
      <td>0.25</td>
      <td>cup</td>
      <td>0.00000</td>
      <td>2.62613</td>
      <td>17.33184</td>
      <td>170.9625</td>
    </tr>
    <tr>
      <th>282</th>
      <td>11432000</td>
      <td>Fruit yogurt, low fat</td>
      <td>2</td>
      <td>1.00</td>
      <td>ounce</td>
      <td>2.50665</td>
      <td>0.19833</td>
      <td>15.54749</td>
      <td>28.9000</td>
    </tr>
    <tr>
      <th>1560</th>
      <td>41420300</td>
      <td>Soy sauce</td>
      <td>2</td>
      <td>1.00</td>
      <td>packet</td>
      <td>0.00000</td>
      <td>0.00089</td>
      <td>0.00000</td>
      <td>4.7170</td>
    </tr>
    <tr>
      <th>1270</th>
      <td>24201120</td>
      <td>Roasted turkey (white meat)</td>
      <td>2</td>
      <td>1.00</td>
      <td>thin slice</td>
      <td>0.00000</td>
      <td>0.14280</td>
      <td>0.00000</td>
      <td>21.8400</td>
    </tr>
    <tr>
      <th>775</th>
      <td>73101010</td>
      <td>Raw carrots</td>
      <td>2</td>
      <td>1.00</td>
      <td>baby carrot</td>
      <td>0.00000</td>
      <td>0.00300</td>
      <td>0.00000</td>
      <td>4.1000</td>
    </tr>
  </tbody>
</table>
</label>
<label>
</h1>LUNCH</h1><br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>687</th>
      <td>75223011</td>
      <td>Blackeye peas</td>
      <td>1</td>
      <td>0.5</td>
      <td>cup</td>
      <td>0.00000</td>
      <td>0.07425</td>
      <td>0.0</td>
      <td>79.20</td>
    </tr>
    <tr>
      <th>1698</th>
      <td>51401010</td>
      <td>Rye bread</td>
      <td>1</td>
      <td>1.0</td>
      <td>regular slice</td>
      <td>4.42494</td>
      <td>0.16380</td>
      <td>0.0</td>
      <td>67.34</td>
    </tr>
    <tr>
      <th>2009</th>
      <td>57301500</td>
      <td>Kashi, puffed</td>
      <td>1</td>
      <td>1.0</td>
      <td>cup</td>
      <td>0.00000</td>
      <td>0.07920</td>
      <td>0.0</td>
      <td>87.60</td>
    </tr>
    <tr>
      <th>551</th>
      <td>75506010</td>
      <td>Mustard</td>
      <td>1</td>
      <td>1.0</td>
      <td>teaspoon</td>
      <td>0.00000</td>
      <td>0.00800</td>
      <td>0.0</td>
      <td>3.30</td>
    </tr>
  </tbody>
</table>
</label>
<label>
</h1>EVENING SNACK</h1><br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>220</th>
      <td>92510610</td>
      <td>Fruit drink (punch, ade, or cooler)</td>
      <td>1</td>
      <td>1.0</td>
      <td>cup</td>
      <td>0.0</td>
      <td>0.0000</td>
      <td>96.98567</td>
      <td>119.04</td>
    </tr>
    <tr>
      <th>822</th>
      <td>63137010</td>
      <td>Pear (raw)</td>
      <td>2</td>
      <td>1.0</td>
      <td>slice</td>
      <td>0.0</td>
      <td>0.0014</td>
      <td>0.00000</td>
      <td>8.12</td>
    </tr>
  </tbody>
</table>
</label>
<label>
</h1>DINNER</h1><br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1317</th>
      <td>26100150</td>
      <td>Fried fish (breaded or battered)</td>
      <td>1</td>
      <td>1.0</td>
      <td>fillet</td>
      <td>124.31448</td>
      <td>3.08200</td>
      <td>0.00000</td>
      <td>266.660</td>
    </tr>
    <tr>
      <th>153</th>
      <td>11431000</td>
      <td>Fruit yogurt, whole milk</td>
      <td>1</td>
      <td>1.0</td>
      <td>6 oz container</td>
      <td>48.27150</td>
      <td>3.46800</td>
      <td>91.24020</td>
      <td>202.300</td>
    </tr>
    <tr>
      <th>837</th>
      <td>63203010</td>
      <td>Blueberries (raw)</td>
      <td>1</td>
      <td>0.5</td>
      <td>cup</td>
      <td>0.00000</td>
      <td>0.02175</td>
      <td>0.00000</td>
      <td>41.325</td>
    </tr>
    <tr>
      <th>338</th>
      <td>91708030</td>
      <td>Fruit roll-up (fruit snack chews)</td>
      <td>1</td>
      <td>1.0</td>
      <td>pouch (1 oz)</td>
      <td>0.00000</td>
      <td>0.18200</td>
      <td>45.84343</td>
      <td>103.880</td>
    </tr>
  </tbody>
</table>
</label>
{% endblock%}
