{% extends "layouts.html"%}

{% block content %}
  <div id="main-content" >

    <div class="box">
            <p> Maybe you are born with it, maybe it’s the diet<br>
                Diet-it does the body good<br>
                Four out of Five Dentists Recommend Balanced Diet<br>
                Live Better through Balanced Diet<br>
            </p>
            <span>
              <p>
            <a href="/sign_up">Register for creating Diet plan for You....</a>
            <p>
          </span>
          <a href="/sign_up">
          <button href="/sign_up" id="sign-up">Sign-Up Now</button>
          </a>
      </div>
    </div>
{% endblock%}
