{% extends "homeLayout.html"%}
{% block content %}
<div id="main-content" class="container">
<label>
</h1>BREAKFIRST</h1><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>368</th>
      <td>91746100</td>
      <td>M&amp;M's plain chocolate candies</td>
      <td>1</td>
      <td>1.0</td>
      <td>package (1.7 oz)</td>
      <td>39.42864</td>
      <td>6.27840</td>
      <td>111.99656</td>
      <td>236.16</td>
    </tr>
    <tr>
      <th>817</th>
      <td>63135140</td>
      <td>Peach (canned in light syrup)</td>
      <td>2</td>
      <td>1.0</td>
      <td>snack size (4 oz)</td>
      <td>0.00000</td>
      <td>0.00339</td>
      <td>38.90135</td>
      <td>61.02</td>
    </tr>
    <tr>
      <th>1518</th>
      <td>28355120</td>
      <td>New England clam chowder</td>
      <td>1</td>
      <td>1.0</td>
      <td>cup</td>
      <td>40.39920</td>
      <td>1.86000</td>
      <td>0.00000</td>
      <td>148.80</td>
    </tr>
    <tr>
      <th>1817</th>
      <td>53233010</td>
      <td>Oatmeal raisin cookie</td>
      <td>1</td>
      <td>1.0</td>
      <td>medium (2-5/8" across)</td>
      <td>19.53081</td>
      <td>0.58760</td>
      <td>10.78908</td>
      <td>58.50</td>
    </tr>
  </tbody>
</table>
</label>
<label>
</h1>BREAKFIRST SNACK</h1><br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>156</th>
      <td>11460150</td>
      <td>Frozen yogurt, low fat</td>
      <td>1</td>
      <td>1.0</td>
      <td>cup</td>
      <td>24.89400</td>
      <td>1.880</td>
      <td>100.64477</td>
      <td>214.00</td>
    </tr>
    <tr>
      <th>302</th>
      <td>14108010</td>
      <td>Parmesan or Romano cheese</td>
      <td>1</td>
      <td>1.0</td>
      <td>tablespoon</td>
      <td>12.55725</td>
      <td>0.865</td>
      <td>0.00000</td>
      <td>21.55</td>
    </tr>
  </tbody>
</table>
</label>
<label>
</h1>LUNCH</h1><br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>874</th>
      <td>64401000</td>
      <td>Vinegar</td>
      <td>1</td>
      <td>1.0</td>
      <td>Tablespoon</td>
      <td>0.00000</td>
      <td>0.00000</td>
      <td>0.00000</td>
      <td>2.016</td>
    </tr>
    <tr>
      <th>418</th>
      <td>83112500</td>
      <td>Creamy dressing (ranch)</td>
      <td>1</td>
      <td>1.0</td>
      <td>Tablespoon</td>
      <td>2.80079</td>
      <td>1.12455</td>
      <td>2.30093</td>
      <td>71.442</td>
    </tr>
    <tr>
      <th>468</th>
      <td>91361010</td>
      <td>Sweet and sour sauce (Vietnamese Sauce)</td>
      <td>2</td>
      <td>1.0</td>
      <td>fast food container</td>
      <td>0.00000</td>
      <td>0.00033</td>
      <td>22.20085</td>
      <td>31.020</td>
    </tr>
    <tr>
      <th>1863</th>
      <td>53520140</td>
      <td>Cake doughnut, frosted</td>
      <td>2</td>
      <td>1.0</td>
      <td>doughnut hole</td>
      <td>54.85680</td>
      <td>1.62200</td>
      <td>17.10896</td>
      <td>94.800</td>
    </tr>
    <tr>
      <th>454</th>
      <td>91304040</td>
      <td>Marshmallow topping</td>
      <td>1</td>
      <td>1.0</td>
      <td>Tablespoon</td>
      <td>0.00000</td>
      <td>0.00372</td>
      <td>11.23941</td>
      <td>19.964</td>
    </tr>
    <tr>
      <th>674</th>
      <td>75209012</td>
      <td>Cooked Brussels sprouts</td>
      <td>1</td>
      <td>0.5</td>
      <td>cup</td>
      <td>0.00000</td>
      <td>0.06200</td>
      <td>0.00000</td>
      <td>32.550</td>
    </tr>
  </tbody>
</table>
</label>
<label>
</h1>EVENING SNACK</h1><br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1671</th>
      <td>51185000</td>
      <td>Croutons</td>
      <td>2</td>
      <td>1.0</td>
      <td>fast food package</td>
      <td>15.50160</td>
      <td>0.52500</td>
      <td>4.91683</td>
      <td>46.50</td>
    </tr>
    <tr>
      <th>470</th>
      <td>91361040</td>
      <td>Vanilla or rum dessert sauce</td>
      <td>2</td>
      <td>1.0</td>
      <td>Tablespoon</td>
      <td>11.19541</td>
      <td>0.23265</td>
      <td>10.83223</td>
      <td>23.76</td>
    </tr>
    <tr>
      <th>842</th>
      <td>63223020</td>
      <td>Strawberries (raw)</td>
      <td>2</td>
      <td>0.5</td>
      <td>cup, pureed</td>
      <td>0.00000</td>
      <td>0.01160</td>
      <td>0.00000</td>
      <td>37.12</td>
    </tr>
  </tbody>
</table>
</label>
<label>
</h1>DINNER</h1><br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Food_Code</th>
      <th>Display_Name</th>
      <th>Portion_Default</th>
      <th>Portion_Amount</th>
      <th>Portion_Display_Name</th>
      <th>Solid_Fats</th>
      <th>Saturated_Fats</th>
      <th>Added_Sugars</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1675</th>
      <td>51187000</td>
      <td>Melba toast</td>
      <td>2</td>
      <td>1.0</td>
      <td>melba round</td>
      <td>0.32832</td>
      <td>0.01350</td>
      <td>0.06827</td>
      <td>11.70</td>
    </tr>
    <tr>
      <th>1298</th>
      <td>25221310</td>
      <td>Polish sausage</td>
      <td>2</td>
      <td>0.5</td>
      <td>10" long sausage</td>
      <td>216.75209</td>
      <td>11.24785</td>
      <td>0.00000</td>
      <td>351.85</td>
    </tr>
    <tr>
      <th>935</th>
      <td>61119010</td>
      <td>Orange (raw)</td>
      <td>2</td>
      <td>1.0</td>
      <td>small (2-3/8" across)</td>
      <td>0.00000</td>
      <td>0.00960</td>
      <td>0.00000</td>
      <td>45.12</td>
    </tr>
    <tr>
      <th>1809</th>
      <td>53210000</td>
      <td>Chocolate wafer cookie</td>
      <td>2</td>
      <td>1.0</td>
      <td>small or thin</td>
      <td>7.41636</td>
      <td>0.25440</td>
      <td>6.58580</td>
      <td>25.98</td>
    </tr>
    <tr>
      <th>643</th>
      <td>75115000</td>
      <td>Raw mushrooms</td>
      <td>1</td>
      <td>0.5</td>
      <td>cup pieces or slices</td>
      <td>0.00000</td>
      <td>0.01750</td>
      <td>0.00000</td>
      <td>7.70</td>
    </tr>
    <tr>
      <th>1234</th>
      <td>24132220</td>
      <td>Baked chicken dark meat (no skin)</td>
      <td>1</td>
      <td>1.0</td>
      <td>medium dark meat quarter</td>
      <td>0.00000</td>
      <td>2.15650</td>
      <td>0.00000</td>
      <td>179.55</td>
    </tr>
  </tbody>
</table>
</label>
{% endblock%}
